<ng-container>
  <div class="newCategory">
    <div class="p-field newCategory__input">
      <label for="templateName">{{'inputs.templateName' | transloco}}</label>
      <input
        id="templateName"
        pInputText
        [(ngModel)]="newTemplateName"
      >
    </div>

    <div *ngIf="config.data.templates">
      <label for="templates">{{'inputs.categoryTemplate' | transloco}}</label>
      <p-dropdown
        id="templates"
        [options]="config.data.templates"
        [(ngModel)]="templateToExtend"
        optionValue="value"
        optionLabel="name"
      ></p-dropdown>
    </div>

    <div class="newCategory__buttons">
      <p-button
        [label]="'buttons.createTemplate' | transloco"
        iconPos="left"
        [disabled]="newTemplateName === '' || newTemplateName === undefined"
        (click)="createNewCategory()">
      </p-button>

      <p-button
        [label]="'buttons.cancelChanges' | transloco"
        iconPos="left"
        (click)="resetForm()">
      </p-button>
    </div>
  </div>
</ng-container>
