.monthSummary {

  &__header {
    margin-bottom: 0;
  }

  &__row {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  ::ng-deep {
    .p-inputnumber-input {
      text-align: right;
    }
  }
}
