<div class="budgetPlan" *ngIf="budget">
  <div class="budgetPlan__navigator">
    <div class="budgetPlan__navigator__buttons">
      <div class="p-field p-grid">
        <p-dropdown
          optionLabel="name"
          class="fullWidth"
          [options]="templates"
          [(ngModel)]="selectedCategory"
          [placeholder]="'budget.plan.categorySelector' | transloco"
          [showClear]="false"
          (onChange)="assignTemplate($event)"
        >
        </p-dropdown>
      </div>

      <div class="p-field p-grid">
        <p-calendar
          view="month"
          dateFormat="mm/yy"
          inputId="monthpicker"
          styleClass="calendarInput"
          [yearRange]="budget.year.toString()"
          [placeholder]="'budget.plan.monthPicker' | transloco"
          [(ngModel)]="selectedMonth"
          [readonlyInput]="true"
          (onSelect)="selectMonth($event)"
        ></p-calendar>
      </div>
    </div>

    <div class="budgetPlan__navigator__summaryContainer">
      <div class="budgetPlan__navigator__summary">
        <app-budget-month-summary
          [header]="'budget.plan.summary.previousMonth.header' | transloco"
          [input1Label]="
            'budget.plan.summary.previousMonth.input1Label' | transloco
          "
          [input2Label]="
            'budget.plan.summary.previousMonth.input2Label' | transloco
          "
          [input3Label]="
            'budget.plan.summary.previousMonth.input3Label' | transloco
          "
        ></app-budget-month-summary>
      </div>

      <div class="budgetPlan__navigator__summary">
        <app-budget-month-summary
          [header]="'budget.plan.summary.currentMonth.header' | transloco"
          [input1Label]="
            'budget.plan.summary.currentMonth.input1Label' | transloco
          "
          [input2Label]="
            'budget.plan.summary.currentMonth.input2Label' | transloco
          "
          [input3Label]="
            'budget.plan.summary.currentMonth.input3Label' | transloco
          "
        ></app-budget-month-summary>
      </div>
    </div>
  </div>

  <div class="budgetPlan__table"></div>

  <div class="budgetPlan__footer"></div>

  <p-confirmDialog
    [header]="'budget.plan.assign.confirm.header' | transloco"
  ></p-confirmDialog>
</div>
