.dashboard {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__button {
      width: 45px;
      text-align: center;
      padding: 10px;
    }
  }

  &__container {
    display: flex;
    height: calc(100vh - 83px);
  }

  &__menu {
    //width: 250px;
    position: fixed;
  }

  &__content {
    flex-grow: 1;
  }
}
