.dashboard {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__button {
      width: 45px;
      text-align: center;
      padding: 10px;
    }
  }

  &__container {
    display: flex;
    height: calc(100vh - 83px);
    position: relative;
    padding-top: 84px;
  }

  &__messages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    ::ng-deep {
      .p-message {
        margin: 0;
      }
    }
  }

  &__menu {
    //width: 250px;
    position: fixed;
    z-index: 100;
  }

  &__content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
