<div class="form-body p-grid">
  <form class="p-col-6 p-offset-3 newUserForm" [formGroup]="newUserForm" (ngSubmit)="signUp(newUserForm.value)">
    <div class="p-field p-grid">
      <label for="name" class="p-col-fixed newUserForm__label">Username:</label>
      <div class="p-col">
        <input type="text" id="name" formControlName="username" pInputText [className]="'newUserForm__input'">
      </div>
    </div>

    <div class="p-field p-grid">
      <label for="email" class="p-col-fixed newUserForm__label">Email:</label>
      <div class="p-col">
        <input type="text" id="email" formControlName="email" pInputText [className]="'newUserForm__input'">
      </div>
    </div>

    <div class="p-field p-grid">
      <label for="pass" class="p-col-fixed newUserForm__label">Password:</label>
      <div class="p-col">
        <input type="password" id="pass" formControlName="password" pInputText [className]="'newUserForm__input'">
      </div>
    </div>

    <div class="p-field p-grid">
      <label for="pass2" class="p-col-fixed newUserForm__label">Repeat:</label>
      <div class="p-col">
        <input type="password" id="pass2" formControlName="passwordRepeat" pInputText [className]="'newUserForm__input'">
      </div>
    </div>

    <button type="submit" [disabled]="newUserForm.invalid" pButton>Submit</button>
  </form>
</div>
