<ng-container *ngIf="form">
  <div class="categories" [formGroup]="form">

    <!-- Income categories -->
    <div class="categories__incomes"
         formArrayName="incomes">
      <ng-container *ngFor="let incomesControl of getFormArray('incomes').controls; index as i">
        <div [formGroupName]="i" class="categories__mainCategoryInputsContainer">
          <div class="categories__mainCategoryInputs">
            <div class="p-field categories__mainCategoryInputs__iconSelect">
              <label [for]="'incomesIcon' + i">{{'inputs.icon' | transloco}}</label>
              <p-dropdown
                [id]="'incomesIcon' + i"
                formControlName="icon"
                [options]="icons"
                [virtualScroll]="true"
                itemSize="30"
                optionLabel="name"
              >
                <ng-template pTemplate="selectedItem">
                  <div class="p-dropdown p-component"
                       style="border: none"
                       *ngIf="incomesControl.value.icon.name; else emptyValue">
                    <i [class]="'pi ' + incomesControl.value.icon.name"></i>
                  </div>

                  <ng-template #emptyValue>
                    <div class="p-dropdown p-component"
                         style="border: none"></div>
                  </ng-template>
                </ng-template>

                <ng-template let-item pTemplate="item">
                  <div class="country-item">
                    <div [class]="'pi ' + item.name"></div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>

            <div class="p-field categories__mainCategoryInputs__inputName">
              <label [for]="'incomesName' + i">{{'inputs.categoryName' | transloco}}</label>
              <input
                [id]="'incomesName' + i"
                pInputText
                formControlName="name"
              >
            </div>

            <div class="p-field categories__mainCategoryInputs__removeBtn">
              <button
                pButton
                icon="pi pi-times"
                class="p-button-rounded p-button-danger"
                (click)="removeCategory(getFormArray('incomes'), i)"
              ></button>
            </div>
          </div>

          <!-- Income child categories-->
          <div class="categories__childCategories"
               formArrayName="childCategories">
            <ng-container *ngFor="let childControl of getChildCategories(incomesControl).controls; index as j">
              <div [formGroupName]="j" class="categories__childCategoryInputs">
                <div class="p-field categories__mainCategoryInputs__inputName">
                  <label [for]="'childCategory'+j">{{'inputs.subcategoryName' | transloco}}</label>
                  <input
                    [id]="'childCategory'+j"
                    pInputText
                    formControlName="name"
                  >
                </div>

                <div class="p-field categories__mainCategoryInputs__removeBtn">
                  <button
                    pButton
                    type="button"
                    icon="pi pi-minus"
                    class="p-button-rounded p-button-outlined p-button-danger"
                    (click)="removeCategory(getChildCategories(incomesControl), j)">
                  </button>
                </div>
              </div>
            </ng-container>
          </div>

          <button
            pButton
            type="button"
            icon="pi pi-plus"
            class="p-button-rounded p-button-outlined categories__childCategoryInputs__addSubcategoryBtn"
            (click)="addChildCategory(incomesControl)">
          </button>
        </div>
      </ng-container>

      <div class="categories__mainCategoryButtonContainer">
        <p-button
          [label]="'buttons.incomeCategory' | transloco"
          icon="pi pi-plus"
          iconPos="left"
          (click)="addMainCategory(getFormArray('incomes'))"></p-button>
      </div>
    </div>


    <!-- Outcome categories -->
    <div class="categories__outcomes"
         formArrayName="outcomes">
      <ng-container *ngFor="let outcomesControl of getFormArray('outcomes').controls; index as i">
        <div [formGroupName]="i" class="categories__mainCategoryInputsContainer">
          <div class="categories__mainCategoryInputs">
            <div class="p-field categories__mainCategoryInputs__iconSelect">
              <label [for]="'outcomesIcon' + i">{{'inputs.icon' | transloco}}</label>
              <p-dropdown
                [id]="'outcomesIcon' + i"
                formControlName="icon"
                [options]="icons"
                [virtualScroll]="true"
                itemSize="30"
                optionLabel="name"
              >
                <ng-template pTemplate="selectedItem">
                  <div class="p-dropdown p-component"
                       style="border: none"
                       *ngIf="outcomesControl.value.icon.name; else emptyValue">
                    <i [class]="'pi ' + outcomesControl.value.icon.name"></i>
                  </div>

                  <ng-template #emptyValue>
                    <div class="p-dropdown p-component"
                         style="border: none"></div>
                  </ng-template>
                </ng-template>

                <ng-template let-item pTemplate="item">
                  <div class="country-item">
                    <div [class]="'pi ' + item.name"></div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>

            <div class="p-field categories__mainCategoryInputs__inputName">
              <label [for]="'outcomesName' + i">{{'inputs.categoryName' | transloco}}</label>
              <input
                [id]="'outcomesName' + i"
                pInputText
                formControlName="name"
              >
            </div>

            <div class="p-field categories__mainCategoryInputs__removeBtn">
              <button
                pButton
                icon="pi pi-times"
                class="p-button-rounded p-button-danger"
                (click)="removeCategory(getFormArray('outcomes'), i)"
              ></button>
            </div>
          </div>

          <!-- Outcome child categories-->
          <div class="categories__childCategories"
               formArrayName="childCategories">
            <ng-container *ngFor="let childControl of getChildCategories(outcomesControl).controls; index as j">
              <div [formGroupName]="j" class="categories__childCategoryInputs">
                <div class="p-field categories__mainCategoryInputs__inputName">
                  <label [for]="'childCategory'+j">{{'inputs.subcategoryName' | transloco}}</label>
                  <input
                    [id]="'childCategory'+j"
                    pInputText
                    formControlName="name"
                  >
                </div>

                <div class="p-field categories__mainCategoryInputs__removeBtn">
                  <button
                    pButton
                    type="button"
                    icon="pi pi-minus"
                    class="p-button-rounded p-button-outlined p-button-danger"
                    (click)="removeCategory(getChildCategories(outcomesControl), j)">
                  </button>
                </div>
              </div>
            </ng-container>
          </div>

          <button
            pButton
            type="button"
            icon="pi pi-plus"
            class="p-button-rounded p-button-outlined categories__childCategoryInputs__addSubcategoryBtn"
            (click)="addChildCategory(outcomesControl)">
          </button>
        </div>
      </ng-container>

      <div class="categories__mainCategoryButtonContainer">
        <p-button
          [label]="'buttons.outcomeCategory' | transloco"
          icon="pi pi-plus"
          iconPos="left"
          (click)="addMainCategory(getFormArray('outcomes'))"></p-button>
      </div>
    </div>
  </div>

  <div class="categories__submitButtons">
    <p-button
      [label]="'buttons.saveExistingCategory' | transloco"
      icon="pi pi-plus"
      iconPos="left"
      (click)="saveExistingCategory()">
    </p-button>

    <p-button
      [label]="'buttons.cancelChanges' | transloco"
      icon="pi pi-plus"
      iconPos="left"
      (click)="cancelChanges()">
    </p-button>

    <div>
      <label for="saveAsName">{{'inputs.saveAs' | transloco}}</label>
      <input
        id="saveAsName"
        pInputText
        [(ngModel)]="saveAsName"
      >
    </div>

    <p-button
      [label]="'buttons.saveAs' | transloco"
      icon="pi pi-plus"
      iconPos="left"
      [disabled]="!saveAsName"
      (click)="saveAs()">
    </p-button>

  </div>
</ng-container>
