<ng-container *transloco="let t">
  <div class="form-body p-grid">
    <form class="p-col-6 p-offset-3 authForm" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <div class="p-field p-grid">
        <label for="email" class="p-col-fixed authForm__label">{{t('formLabels.email')}}</label>
        <div class="p-col">
          <input
            type="text"
            id="email"
            formControlName="email"
            pInputText
            [className]="'authForm__input'"
            aria-describedby="email-help"
          >
          <small class="p-invalid">Username is not available.</small>
        </div>
      </div>

      <div class="p-field p-grid">
        <label for="pass" class="p-col-fixed authForm__label">{{t('formLabels.password')}}</label>
        <div class="p-col">
          <input type="password" id="pass" formControlName="password" pInputText [className]="'authForm__input'">
        </div>
      </div>

      <button type="submit" [disabled]="loginForm.invalid" pButton>Login</button>
    </form>
  </div>
</ng-container>
