<ng-container *transloco="let t">
  <div class="form-body p-grid">
    <form class="p-col-6 p-offset-3 authForm" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <div class="p-field p-grid">
        <label for="email" class="p-col-fixed authForm__label">{{t('formLabels.email')}}</label>
        <div class="p-col">
          <input
            type="text"
            id="email"
            formControlName="email"
            pInputText
            [className]="'authForm__input'"
          >
          <app-validation-message
            [control]="loginForm.get('email')"
          ></app-validation-message>
        </div>
      </div>

      <div class="p-field p-grid">
        <label for="pass" class="p-col-fixed authForm__label">{{t('formLabels.password')}}</label>
        <div class="p-col">
          <input type="password" id="pass" formControlName="password" pInputText [className]="'authForm__input'">
          <app-validation-message
            [control]="loginForm.get('password')"
          ></app-validation-message>
        </div>
      </div>

      <button type="submit" [disabled]="loginForm.invalid" pButton [label]="t('buttons.login')" icon="pi pi-sign-in" iconPos="right"></button>
    </form>
  </div>
</ng-container>
