/* You can add global styles to this file, and also import other style files */

.relative {
  position: relative;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2, h3, h4 {
  margin-top: 0;
}

// primeNG global styles
.p-grid {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}


p-calendar,
p-dropdown.fullWidth,
.p-dropdown {
  width: 100%;
}

.calendarInput {
  width: 100%;
}
